# ignore idea project files
.idea/copilot.*.xml
.idea/*.iml
.idea/modules.xml

# temporary sops files
*_unencrypted

# talos linux, talhelper files
/*/talos/clusterconfig
/*/talos/kubeconfig
/*/talos/talosconfig
